</body>
    <script src="/js/NavbarScript.js"></script>
    <script src="/js/signupScript.js"></script>
    <script src="/js/signup_Industry_DescritionScript.js"></script>
    <script src="/js/signup_address_image_time_holiday_formValidation.js"></script>
    <script src="/js/signup_business_owner_info_from_validation.js"></script>
    <script src="/js/signup_phoneNumber_EmailAdress_from_validation.js"></script>
    <script src="/js/signup_OTP_form_Validation.js"></script>
    <script src="/js/signup_password_form_validation.js"></script>
    <script src="/js/signup_username_form_validation.js"></script>
</html>

