<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/navStyle.css">
    <link rel="stylesheet" href="/css/navStyle.css">
    <link rel="stylesheet" href="/css/logInPageStyle.css">
    <link rel="stylesheet" href="/css/signupPageStyle.css">
    <link rel="stylesheet" href="/css/signupPageIndustryDescriptonPageStyle.css">
    <link rel="stylesheet" href="/css/signupPageaddressImageTimeHoliday.css">
    <link rel="stylesheet" href="/css/signupPageBusinessOwnerInfo.css">
    <link rel="stylesheet" href="/css/signupPagePhoneNumberEmailAdress.css">
    <link rel="stylesheet" href="/css/signupPageOTPAndPasswordStyle.css">
    <link rel="stylesheet" href="/css/signupUsernamePageStyle.css">
    <!-- <link rel="stylesheet" href="css/homePageStyle.css"> -->
    <!-- <link rel="stylesheet" href="css/productsPageStyle.css"> -->
</head>
<body>
