<nav id="navFilesNav">
    <ul class="navBarUl">
        <li class="NavBarItems" id="menu-icons" onclick="hoverForDrwonNavbar()">
            <div class="menu-icon"></div>
            <div class="menu-icon"></div>
            <div class="menu-icon"></div>
        </li>
        <li class="NavBarItems NotOnMobileScreen"><a href="/">Home</a></li>
        <li class="NavBarItems NotOnMobileScreen"><a href="/businesses">Businesses</a></li>
        <li class="NavBarItems NotOnMobileScreen"><a href="/products">Products</a></li>
        <li class="NavBarItems NotOnMobileScreen"><a href="/login">Log in</a></li>
        <li><a>Project</a></li> <!-- Or account -->
    </ul>
    <ul class="navSidebar">
        <li class="hoverOnNavSideBarItems" id="closeSiderIcon" onclick="CloseNavSideBar()"><img src="/images/close.svg" alt=""></li>
        <li class="hoverOnNavSideBarItems"><a href="/">Home</a></li>
        <li class="hoverOnNavSideBarItems"><a href="/businesses">Businesses</a></li>
        <li class="hoverOnNavSideBarItems"><a href="/products">Products</a></li>
        <li class="hoverOnNavSideBarItems"><a href="/login">Log in</a></li>
        <li><a>Project</a></li> <!-- Or account -->
    </ul>
</nav>