#PhoneNumber-EmailAddress-PageContainer {
    background-color: #d5d1d1;
    border-radius: 11px;
    width: 500px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
#PhoneNumber-EmailAddress-PageContainer input{
    width: 280px;
    height: 30px;
}
#PhoneNumber-EmailAddress-PageContainer p{
    width: 300px;
}

#PhoneNumber-EmailAddress-PageContainer #submit-Signup-phonenumber-emailAddress{
    height: 33px;
    width: 90px;
    margin-left: 190px;
    border-radius: 7px;
    background-color: #828080
}


@media (max-width: 525px){
    #PhoneNumber-EmailAddress-PageContainer {
        margin-top: 0px;
        width: 100%;
        background-color: white;
    }

}
