#sinup_OTP-verification-PageContainer{
    background-color: #d5d1d1;
    border-radius: 11px;
    width: 500px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
#sinup_OTP-verification-PageContainer input{
    width: 280px;
    height: 30px;
}

#Signup-password-error{
    width: 280px;
}

#sinup_OTP-verification-PageContainer p{
    width: 300px;
}
#sinup_OTP-verification-PageContainer #submit-Signup-phonenumber-email-OTP-code{
    height: 33px;
    width: 90px;
    margin-left: 190px;
    border-radius: 7px;
    background-color: #828080
}


@media (max-width: 525px){
    #sinup_OTP-verification-PageContainer {
        margin-top: 0px;
        width: 100%;
        background-color: white;
    }

}
#Signup-password-PageContainer{
    background-color: #d5d1d1;
    border-radius: 11px;
    width: 500px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
#Signup-password-PageContainer input{
    width: 280px;
    height: 30px;
}

#Signup-password-PageContainer p{
    width: 300px;
}

#Signup-password-PageContainer #submit-Signup-password{
    height: 33px;
    width: 90px;
    margin-left: 190px;
    border-radius: 7px;
    background-color: #828080
}


@media (max-width: 525px){
    #Signup-password-PageContainer {
        margin-top: 0px;
        width: 100%;
        background-color: white;
    }

}