
#signup-username-cantainer{
    background-color: #d5d1d1;
    border-radius: 11px;
    width: 500px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
#signup-username-cantainer input{
    width: 280px;
    height: 30px;
}

#signup-username-input-error{
    width: 290px;

}

#signup-username-cantainer p{
    width: 290px;
}
#signup-username-cantainer #submit-Signup-Username{
    height: 33px;
    width: 90px;
    margin-left: 190px;
    border-radius: 7px;
    background-color: #828080
}


@media (max-width: 525px){
    #signup-username-cantainer {
        margin-top: 0px;
        width: 100%;
        background-color: white;
    }

}
